@import 'variables.scss';
*,
*:before,
*:after {
  box-sizing: inherit;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-family: $defaultFont;
  color: $lightColor;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.54;

  background-color: $lightBackground;
  font-feature-settings: 'liga', 'tnum', 'case', 'calt', 'zero', 'ss01', 'locl';
  -webkit-overflow-scrolling: touch;
  -webkit-text-size-adjust: 100%;
}

hr {
  width: 100%;
  border: none;
  background: $lightBorderColor;
  height: 1px;
}

img {
  border-radius: 10px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  min-height: 100vh;
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 100%;
  position: relative;
  overflow-x: hidden;

  @media screen and (max-width: $mobileWidth) {
    margin-top: 20px;
  }
  @media screen and (max-width: $tabletWidth) {
    max-width: 660px;
  }

  .content-container {
    width: 70vw;
    max-width: 800px;
    padding: 0 0 20px 0;
    margin: 0 auto 20px 5%;
    @media screen and (max-width: 1200px) {
      width: 60vw;
    }
    @media screen and (max-width: $tabletWidth) {
      max-width: 660px;
      width: 95%;
      margin: 0 auto 20px auto;
    }
  }
}

.category-title {
  font-size: 3vw;
  text-align: left;
  margin: 20px auto 40px 0;
  border-radius: 10px;
  width: 70vw;
  max-width: 750px;
  background: $lightBackgroundSecondary;

  span {
    font-weight: bold;
  }
  @media screen and (max-width: $mobileWidth) {
    width: 95vw;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  @media screen and (max-width: 1200px) {
    width: 60vw;
  }
  @media screen and (min-width: 1600px) {
    margin-left: 0;
  }
}

/**
  * Footer styles
  */
footer {
  font-size: 1rem;
  text-align: left;
  padding-bottom: 50px;
  margin-top: auto;
  width: 100%;

  div {
    width: 90%;
    margin-left: auto;
    margin-right: auto;

    @media screen and (max-width: $mobileWidth) {
      width: 100%;
      max-width: 660px;
      padding-left: 20px;
      padding-right: 20px;
    }

    .footerCopyrights {
      &:not(:first-of-type) {
        margin-left: 10px;
        padding-left: 10px;
        border-left: 1px solid;

        @media screen and (max-width: $mobileWidth) {
          margin: 0;
          padding: 0;
          border: none;
          display: block;
        }
      }
    }
  }

  @media screen and (max-width: $mobileWidth) {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  background: linear-gradient(
    rgba(255, 255, 255, 0) 10%,
    $lightHeaderBackground
  );
}

/**
  * Header styles
  */
header {
  background: linear-gradient(
    $lightHeaderBackground 50%,
    rgba(255, 255, 255, 0)
  );

  display: flex;
  justify-content: space-between;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  z-index: 999;

  a {
    text-decoration: none;
  }

  .header-container {
    display: flex;
    justify-content: space-between;
    margin: 5px auto 0 auto;
    width: 90%;
    @media screen and (max-width: $mobileWidth) {
      width: 95%;
      max-width: 660px;
    }

    .logo {
      display: flex;
      align-items: center;
      text-decoration: none;
      text-align: left;

      & img {
        height: 44px;
      }

      .logo-cursor {
        display: inline-block;
        width: 1rem;
        height: 1rem;
        background: #a9a7b3;
        margin: 0 0 0 8px;
        border-radius: 50%;
        animation: cursor 3s infinite;
        @media screen and (max-width: $mobileWidth) {
          margin: 0 0 0 5px;
        }
      }

      .logo-text {
        font-weight: 700;
        font-size: 33px;
        font-style: italic;
        text-transform: lowercase;
        padding-bottom: 2px;
        @media screen and (max-width: $mobileWidth) {
          font-size: 25px;
        }
      }
    }
  }
}

@keyframes logo-cursor {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
