.archive-listing {
  width: 70vw;
  max-width: 750px;
  text-align: left;
  margin: 0 auto 0 5vw;
  > div {
    margin-bottom: 10px;
  }

  .archive-title {
    font-size: 30px;
    font-weight: 700;
  }

  .archive-details {
    font-size: 15px;
  }

  a {
    text-decoration: none;
  }
}
