.sidebar {
    position: fixed;
    overflow: hidden;
    top: 150px;
    right: 0;
    width: 30vw;
    padding-left: 10px;
    margin-right: 5vw;
    h1 {
        padding: 10px 20px;
        margin-top: 0;
        margin-bottom: 10px;
        border-radius: 10px;
        background: var(--light-background-secondary);
        :global .dark-theme :local & {
          background: var(--dark-background-secondary);
        }
        @media (--phone) {
            text-align: center;
            font-size: 22px;
        }
    }
    ul {
        text-align: left;
        margin-left: 10px;
        list-style-type: none;
    }
    @media screen and (max-width: 1250px) {
        padding: 0 20px 0 10px;
        margin-right: 0;
    }
    @media (--tablet) {
        position: relative;
        overflow: auto;
        width: 95%;
        margin: 20px auto 30px auto;
        padding: 0;
        top: auto;
        right: auto;
    }
    .mobileflex {
        @media (--tablet) {
            margin-top: 10px;
            display: flex;
            justify-content: space-between;
            div {
                width: 45%;
            }
        }
    }
}

.search {
    width: 100%;
    margin-bottom: 10px;
    input {
        border: none;
        border-bottom: 2px solid var(--light-color);
        background-color: var(--light-background);
        :global .dark-theme :local & {
            border-bottom: 2px solid var(--dark-color);
            background-color: var(--dark-background);
            caret-color: var(--dark-color);
            color: var(--dark-color);
        }
        outline: none;
        flex-grow: 1;
        margin-left: 5px;
        margin-bottom: 10px;
        :focus {
            background-color: green;
        }
        @media (--phone) {
            font-size: 16px;
        }
    }
    .inputbox {
        display: flex;
    }
    .searchresults {
        position: absolute;
        width: 90%;
        border-radius: 10px;
        opacity: 0;
        transition: opacity 0.2s;
        background-color: var(--light-header-background);
        :global .dark-theme :local & {
            background-color: var(--dark-header-background);
        }
        .noresults {
            padding-left: 10px;
            margin: 1em 0;
            text-align: left;
            font-style: italic;
        }
        @media (--tablet) {
            width: 100%;
        }
    }
}
