@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Noto+Serif+SC&display=swap');

$mobileWidth: 684px;
$tabletWidth: 900px;

$lightBackground: #f0f0f0;
$lightBackgroundSecondary: #dedddd;
$lightHeaderBackground: #b1b1b1;
$lightColor: #222;
$lightColorSecondary: #999;
$lightBorderColor: #dcdcdc;

$defaultFont: 'Inter', -apple-system, BlinkMacSystemFont, 'Roboto', 'Segoe UI',
  Helvetica, Arial, sans-serif;
