:root {
  /* light theme color */
  --background: #fff;
  --background-secondary: #eaeaea;
  --header-background: #caccce;
  --color: #222;
  --color-secondary: #999;
  --border-color: #dcdcdc;

  /* variables for js, must be the same as these in @custom-media queries */
  --phoneWidth: (max-width: 684px);
  --tabletWidth: (max-width: 900px);

  /* fonts used */
  --logo-font: "degular", sans-serif;
}

[data-theme='dark'] {
  /* dark theme colors */
  --background: #292a2d;
  --background-secondary: #3b3d42;
  --header-background: #191a1a;
  --color: #d2d2da;
  --color-secondary: #73747b;
  --border-color: #4a4b50;
}

@custom-media --phone (width < 684px);
@custom-media --tablet (width < 900px);
